@import url('variable.css');
@import url('index.css');

header{
    background-color: var(--bg-color);
    padding: 10px 4%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.interface{
    max-width: 1280px;
    width: 100%;
    display: flex;
    margin: 0 auto;

}
.btn-alterar-tema button{
    background: none;
    font-size: 30px;
    cursor: pointer ;
    border:none;
    box-shadow: none;

} 
.btn-alterar-tema button:hover{
    scale: 1.05;
    transition: 0,8s;
    transform: 1,05;
    
}


header > .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




@media(max-width: 600px) {
    .card {
        width: 50%;
    }


}


