:root{
    --bg-color-body: #000000;
    --bg-color-conteiner: #222;
    --font-color: #fff;
    --btn-color: #00ffaa;
    --btn-color-hover: #00ffbf;

}

[data-theme="light"] {
    --bg-color-body: #ffffff;
    --font-color: #000000;
    --font-color-menu: rgba(0, 0, 0, 0.493);
    --font-color-menu-hover: #000000;

}


[data-theme="dark"] {
    --bg-color-body: #000000;
    --font-color: #ffffff;
    --font-color-menu: rgba(255, 255, 255, 0.493);
    --font-color-menu-hover: #ffffff;
    
}