@import url('variable.css');



body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color-body);
    color: var(--font-color);
    margin: 0;
    padding: 0;
    text-align: center;
}
header{
    background-color: #1e90ff;
    padding: 2px;
    font-size: 1em;

}
main{
    max-width: 850px;
    background-color: var(--bg-color-conteiner);
    border-radius: 5px;
    margin: 20px auto;
    box-shadow: 0 0 5px var(--bg-color-conteiner);
    padding: 20px;
    
}
.negrito{
    font-weight: bold;
}
.cards{

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}
.card img{
    width: 100%;
    border-radius: 10px;

}

.card{
    background-color: #414141;
    width: 250px;
    box-shadow: 0 1px 10px #414141;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;

}

.botao {
    color: #fff;
    background-color: red;
    border-radius: 8px;
    padding: 10px;
    font-size: 1em;
    border-color: red;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;


}

@media(max-width: 600px) {
    .card {
        width: 50%;
    }
    

    

}