:root{
    --bg-color-body: #111;
    --bg-color-conteiner: #222;
    --font-color: #fff;

}

[data-theme="light"]{
    --bg-color-body: #9b9b9b;
    --bg-color-conteiner: #cfcfcf;
    --font-color: #000;

    
    
}